<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.nicholasbirochi.jarvis.menubar</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/nicholasbirochi/Library/CloudStorage/OneDrive-FundaçãoSalvadorArena/Estudos/Projetos/54 - J.A.R.V.I.S/.venv/bin/python</string>
        <string>-m</string>
        <string>jarvis</string>
        <string>menubar</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/nicholasbirochi/Library/CloudStorage/OneDrive-FundaçãoSalvadorArena/Estudos/Projetos/54 - J.A.R.V.I.S</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <false/>
    <key>StandardOutPath</key>
    <string>/Users/nicholasbirochi/Library/Logs/JARVIS/menubar.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/nicholasbirochi/Library/Logs/JARVIS/menubar.log</string>
</dict>
</plist>
